<%# <%= link_to '我的最愛', favorites_path(id: @board.id), method: 'post'</h1> %> 
                                                    <%# 會長出favorite?id=2 這樣的路徑 %>

<h1>看板  <%= @board.title %> | <%= link_to '我的最愛',favorite_board_path(@board), method: 'post' %></h1>
                                                                            <%# 動作必須加上，沒有加上就會預設get %>
<div>版主： <%= display_bm(@board) %></div>

<%= link_to "新增文章",  new_board_post_path(@board)  %>
                                        <%# board_id: @board.id   %>
<table>
    <thead>
        <tr>
            <td>作者</td>
            
            <td>文章名稱</td>
        </tr>
    </thead>
    <tbody>
        <%# <% @board.posts.each do |post| %> 
        <%# 原本是透過看板去找文章這樣會一次，所以是board.posts %>
        <% @posts.each do |post| %>
            <tr>
                <%# <><%= post.user.try(:account) %>
                <%# 這邊的try 是取代if author存在與否 %>

                <%# <td><%= post.display_username %></td> %>
                <%# 這邊會顯示沒有這個display_username方法， %>
                <td><%= link_to post.title, post_path(post) %></td>
                <td><%= link_to '編輯', edit_post_path(post) %></td>
                <%# 這邊在網址上不會顯示board_id 是因為我們在建立網址有做shallow %>
                <td><%= link_to '刪除', post_path(post),method: 'delete', data:{confirm: 'want to remove post?'} %></td>
            </tr>
        <% end %>
    </tbody>
</table>