<h1 data-controller='heart' data-heart-board="<%= @board.id%>">
        <%# 這邊的值是對檔案名稱 %>
  看板 <%= @board.title %>
  | <%= link_to "我的最愛", favorite_board_path(@board), method: 'post'%>
  
  <%# 這邊動作是要對應到controller裡面的function name %>
  <button data-action='click->heart#favorite'>
    <% if @board.favorited_by?(current_user) %>
          <i i class="fas fa-heart" data-target='heart.heart'></i> 
    <% else %>
          <i i class="far fa-heart" data-target='heart.heart'></i> 
    <% end %>
                    <%# 第一個heart是controller name 第二個是屬性 %>
  </button>
  <button data-action='click->heart#removeauthor'>
    <span>作者掰～</span>
  </button>
</h1>

<div>
  [版主：<%= display_bm(@board) %>]
</div>

<%= link_to "新增文章", new_board_post_path(@board) %>

<ul>
  <% @posts.each do |post| %>
    <li data-controller='post' data-action='authorBye~@window->post#removeauthor'>
      <%= post.display_username %>
      <%= link_to post.title, post , data: {target: 'post.authorbye'}%>
      <%= link_to "編輯", edit_post_path(post) %>
    </li>
  <% end %>
</ul>